[Unit]
Description=blink(1)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/blink1-tool --rgb 00ff00

[Install]
WantedBy=multi-user.target
