[Unit]
Description=Imagery List Updater
After=nginx.service
Requires=nginx.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/sh -c "/usr/bin/posm-imagery-updater > /opt/posm-www/posm_imagery.json"
